<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>{% block title %}CF_Veterans{% endblock %}</title>

    <link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css'
          integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/'
          crossorigin='anonymous'>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    {% block stylesheets %}

    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    {% block scripts_extra %}

    {% endblock %}
</head>
<body>
<nav class="container-fluid col-md-2 col-sm-2 col-lg-2">
    <div class="row">
        <div class="menu">
            <ul class="nav flex-column bg-dark" id="menu">
                <li class="nav-item">
                    <img id="logo" src="{{ asset('/images/logo.png') }}" alt="Logo_cfveterans_montserrat">
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('index') }}">INICIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('stats') }}">ESTADISTICAS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('roster') }}">PLANTILLA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{{ path('lineup') }}">CONVOCATORIA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('news') }}">CRONICA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('media') }}">AUDIOVISUAL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">REGISTRARSE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">INICIAR SESION</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="wrap col-md-10 col-sm-10" id="wrap">


    {% block body %}

    {% endblock %}
</div>
<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-md-6 mb-4 col-sm-6">
            </div>
            <!--Grid column-->
            <div class="col-md-6 mb-4 col-sm-6" style="color: #BAF04F; font-size:24px">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="material-icons">email</i>
            </div>
        </div>
        <!--Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">

    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
<script>
    {% block js_extra %}

    {% endblock %}
</script>

{% block javascripts %}

{% endblock %}
</body>
</html>


<style>
    .menu {
        padding-left: 0;
    }

    html {
        height: 100%;
    }

    body {
        padding: 0;
        height: 100%;
    }

    #menu {
        height: 150%;
        position: fixed;
    }

    footer {
        position: relative;
        margin-top: 15px;
        clear: both;
        padding-top: 20px;
    }

    i {
        margin-right: 50px;
    }

    #wrap {
        min-height: 100%;
    }

    #logo {
        height: 150px;
        width: 150px;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    li > a {
        color: #BAF04F;
    }


    {% block css_extra %}

    {% endblock %}
</style>
