<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>{% block title %}CF_Veterans{% endblock %}</title>

    <link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css'
          integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/'
          crossorigin='anonymous'>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    {% block stylesheets %}

    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    {% block scripts_extra %}

    {% endblock %}
</head>
<body>
<div class="container-fluid col-xs-1 col-md-2 col-sm-2 col-lg-2">
    <div class="row">
        <div class="menu">
            <ul class="nav flex-column bg-dark" id="menu">
                <li class="nav-item">
                    <a id="logo2" href="{{ path('index') }}"><img id="logo" src="{{ asset('/images/logo.png') }}"
                                                                  alt="Logo_cfveterans_montserrat"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('index') }}">INICIO</a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('stats') }}">ESTADISTICAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('roster') }}">PLANTILLA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('lineup') }}">CONVOCATORIA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('news') }}">CRONICA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('media') }}">AUDIOVISUAL</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('register') }}">PANEL DE ADMINISTRADOR</a>
                    </li>
                {% endif %}

                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li>
                        <a href="{{ path('logout') }}">CERRAR SESIÓN</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ ('login') }}">INICIAR SESION</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>


    {% block body %}

    {% endblock %}
</div>

<div class="container-fluid">
    <footer class="page-footer font-small bg-dark pt-4 "style="width:100%;">
        <div class="row">
            <div class="col-xs-3 col-sm-4 col-md-6">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-5" style="color: #BAF04F; font-size:24px">
                <a href="https://www.facebook.com/veterans.montserrat.7"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/veteransmontse?lang=es"><i class="fab fa-twitter"></i></a>
                <i class="material-icons">email</i>
            </div>
        </div>
    </footer>
</div>

<script>
    {% block js_extra %}

    {% endblock %}
</script>

{% block javascripts %}

{% endblock %}
</body>
</html>


<style>
    .menu {
        max-height:content-box;
        padding-left: 0;
    }

    html {
        height: 100%;
    }

    body {
        padding: 0;
        height: 100%;
        background-attachment: fixed;
        background-image: url("/images/ball.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        text-shadow: black 0.3em 0.1em 0.2em;
    }
    h1{
        text-align:center;
        padding-top:5%;
    }
    #menu {
        height: 150%;
        position: fixed;
    }

    footer {
        position: fixed;
        bottom: 0;
        margin-top: 15px;
        clear: both;
        padding-top: 20px;
        max-width: content-box;
    }

    i {
        margin-right: 50px;
    }

    #wrap {
        min-height: 100%;
    }

    #logo {
        height: 150px;
        width: 150px;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    #logo2:hover {
        background: #343A40;
    }


    a:hover {
        color: #BAF04F;
    }

    li > a {
        color: #BAF04F;
    }

    nav {
        text-shadow: none;
    }

    a > i {
        color: #BAF04F;
    }

    {#Edita el tamaño de las imagenes dentro del carousel #}
    .img_carousel {
        max-width: 50%;
        height: auto;
        display: block;
    }

    {#Edita el fondo y contorno del carousel #}
    .carousel-wrapper {
        text-align: center;
        margin: 5% 0 0 0;
        background-color: #FFFFFF;
        box-shadow: 0px 12px 39px -19px rgba(0, 0, 0, 0.75);
        overflow: hidden;
    }

    {#Edita los elementos del carousel y añade el tipo de transición #}
    .carousel-wrapper .carousel .carousel-cell {
        padding: 10px;
        background-color: #FFFFFF;
        width: 80%;
        height: auto;
        min-width: 240px;
        margin: 0 20px;
        transition: transform 500ms ease;
    }

    .carousel-wrapper .carousel .carousel-cell .more {
        display: block;
        opacity: 0;
        margin: 5px 15px 0;
        text-align: center;
        font-size: 10px;
        color: #CFCFCF;
        text-decoration: none;
        transition: opacity 300ms ease;

    }

    .carousel-wrapper .carousel .carousel-cell .more:hover, .carousel-wrapper .carousel .carousel-cell .more:active, .carousel-wrapper .carousel .carousel-cell .more:visited, .carousel-wrapper .carousel .carousel-cell .more:focus {
        color: #CFCFCF;
        text-decoration: none;
    }

    .carousel-wrapper .carousel .carousel-cell .line {
        position: absolute;
        width: 2px;
        height: 0;
        background-color: black;
        left: 50%;
        margin: 5px 0 0 -1px;
        transition: height 300ms ease;
        display: block;
    }

    .carousel-wrapper .carousel .carousel-cell .price {
        position: absolute;
        font-weight: 700;
        margin: 45px auto 0 auto;
        left: 50%;
        transform: translate(-50%);
        opacity: 0;
        transition: opacity 300ms ease 300ms;
    }

    .carousel-wrapper .carousel .carousel-cell .price sup {
        top: 2px;
        position: absolute;
    }

    .carousel-wrapper .carousel .carousel-cell.is-selected {
        transform: scale(1.2);
    }

    .carousel-wrapper .carousel .carousel-cell.is-selected .line {
        height: 35px;
    }

    .carousel-wrapper .carousel .carousel-cell.is-selected .price, .carousel-wrapper .carousel .carousel-cell.is-selected .more {
        opacity: 1;
    }

    .carousel-wrapper .flickity-page-dots {
        display: none;
    }

    .carousel-wrapper .flickity-viewport, .carousel-wrapper .flickity-slider {
        overflow: visible;
    }

    {% block css_extra %}

    {% endblock %}
</style>
