{% extends('base.html.twig') %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% form_theme stats 'bootstrap_4_layout.html.twig' %}
{% form_theme teams 'bootstrap_4_layout.html.twig' %}
{% form_theme player 'bootstrap_4_layout.html.twig' %}
{% block body %}

    <h2 style="margin-top: 3rem;">Añadir usuarios</h2>

    {{ form_start(form) }}

    {{ form_end(form) }}
     <hr>

    <h2 style="margin-top: 3rem;">Añadir estadísticas</h2>
    {{ form_start(stats) }}

    {{ form_end(stats) }}
    <hr>

    <h2 style="margin-top: 3rem;">Añadir equipo rival</h2>

    {{ form_start(teams) }}

    {{ form_end(teams) }}
    <hr>

    <h2 style="margin-top: 3rem;">Añadir jugador</h2>

    {{ form_start(player) }}

    {{ form_end(player) }}

    <div style="margin-top: 5rem;"></div>

{% endblock %}
{% block css_extra %}
    form{
        margin-top: 100px;
        margin-left: 200px;
        width: 50%;
        color: white; text-shadow: black 0.1em 0.1em 0.2em;
        font-size: 1.5rem;
    }
    #registro_save,#appbundle_stats_save,#appbundle_teams_save,#appbundle_players_save{
        background-color: #BAF04F;
        border: none;
        color: black;
    }
    #registro_clear{
        margin-top: -70px;
    margin-left: 498px;
    }


{% endblock %}
